/node_modules/
/src/build/*
/src/dist
dist
nohup.out
./src/js
._*
output/
npm-debug.log
logs
pids
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
bower_components/
.idea/
.DS_Store
.vscode/
package-lock.json

# public/*
__version__
.cache/
.cache/**
yarn.lock
